<% if @message %>
  <strong><%= @message %></strong>
<% end %>

<a href="/users/registration">Register</a>


<form action="/create" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="quantity" placeholder="Quantity">
  <input type="Submit" value="Add an item">
</form>


<% @items.each do |item|%>
<p><%=item.name%></p>
<p><%=item.quantity%></p>
<a href='/update/<%= item.id %>'>Update</a>
<a href='/destroy/<%= item.id %>'>Destroy</a>
<% end %>
