<% if session[:current_user] %>
  <strong>Welcome <%= session[:current_user].user_name %></strong>
  <a href="/users/logout">Log Out</a>
<% end %>

<% if !session[:current_user] %>
<a href='/users/registration'>Register</a>
<a href='/users/login'>Login</a>
<% end %>
<br>
<br>



<form action="/create" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="quantity" placeholder="Quantity">
  <input type="Submit" value="Add an item">
</form>


<div class="container">


<% @items.each do |item|%>
<p class="item"><%=item.name%>
<%=item.quantity%></p>
<a href='/update/<%= item.id %>'>Update</a>
<a href='/destroy/<%= item.id %>'>Destroy</a>
<% end %>

</div>
